extend layout

block content
  p
    | This is a demo website
    | using Express
    | Have Fun !!
    
  p
    | Some demo content fills this place 
    | Some demo content fills this place 
    | Some demo content fills this place 
    | Some demo content fills this place 
    | Some demo content fills this place 

block sidebar
  .widget
    h1 Widget
    p
      | Fill it with a widget that can hold
      | some content from some other place whatever !
    
    p
      | Yes this is again some demo text used 
      | to fill the place up.

